h1 {
    font-size: 60px;
    font-family: 'Times New Roman' , 'Times New Roman', Times, serif;
    color: white;
    text-align: center;

}

h2{
    color:white ;
    text-align: center;
    font-size: 50px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 20px;
}

div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Achievements {
    text-align: center;
    color: white;
    font-size: 20px;
}

table, th, td {
    border: 1px solid;
    color: white;
}

.links {
    display: flex;
    align-items: center;
    
}
